{% extends 'Mzuri/base.html' %}
{% load static %}
{% block content %}
<body class="body-bg">
    {% include "Mzuri/navbar.html" %}
    <main>
        <!--? Preloader Start -->
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img src="static/img/logo/loder.jpg" alt="">
            </div>
        </div>
    </div>
</div>
        <!--? Hero Start -->
        <div class="slider-area2">
            <div class="slider-height2 hero-overly d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap hero-cap2 text-center pt-80">
                                <h2>About Us</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero End -->
        
        <!--? Our Info Start -->
        <div class="our-info-area pt-170 pb-100 section-bg" data-background="{% static 'img/gallery/section_bg02.jpg' %}">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                        <div class="single-info mb-60">
                            <div class="info-caption">
                                <h4>Clean  Services</h4>
                                <p>For each project we establish relationships with partners who we know will help us.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                        <div class="single-info mb-60">
                            <div class="info-caption">
                                <h4>Clean and Modern</h4>
                                <p>For each project we establish relationships with partners who we know will help us.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                        <div class="single-info mb-60">
                            <div class="info-caption">
                                <h4>Clean and Modern</h4>
                                <p>For each project we establish relationships with partners who we know will help us.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Our Info End -->
        
        <!--? Professional Services Start -->
        <div class="professional-services section-bg d-none d-md-block" data-background="{% static 'img/gallery/section_bg04.jpg' %}"></div>
        <div class="profession-caption">
            <div class="container">
                <div class="row align-items-end">
                    <div class="col-lg-8">
                        <!-- Section Tittle -->
                        <div class="section-tittle profession-details">
                            <span>Our Professional Services</span>
                            <h2>We will create modern and first-class interior.</h2>
                            <p>Welcome to a realm where elegance meets sophistication. Our interior design redefines luxury and comfort.</p>
                            <p>Our design philosophy emphasizes clean lines, minimalist aesthetics, and a seamless blend of form and function. Every element is curated to enhance the ambiance, ensuring each room exudes calm and refinement</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <a href="about.html" class="btn btn3">Discover More About Us</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Professional Services End -->
        
        <!-- Team Start -->
        <div class="team-area section-padding30">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="cl-xl-7 col-lg-8 col-md-10">
                        <!-- Section Tittle -->
                        <div class="section-tittle text-center mb-70">
                            <span>Creative Director</span>
                            <h2>Best Interior Services</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- single Team -->
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single-team mb-30">
                        <div class="team-img">
                            <img src="static/img/gallery/team2.png" alt="">
                        </div>
                        <div class="team-caption">
                            <h3><a href="#">Emmanuel Koech</a></h3>
                            <span>Creative Director</span>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- Team End -->
        
        <!-- Testimonial Start -->
        <div class="testimonial-area testimonial-padding">
            <div class="container">
                <!-- Testimonial contents -->
                <div class="row d-flex justify-content-center">
                    <div class="col-xl-8 col-lg-8 col-md-10">
                        <div class="h1-testimonial-active dot-style">
                            <!-- Single Testimonial -->
                            <div class="single-testimonial text-center">
                                <!-- Testimonial Content -->
                                <div class="testimonial-caption ">
                                    <div class="testimonial-top-cap">
                                        <img src="{% static 'img/gallery/testi-logo.png' %}" alt="">
                                        <p>We provide tailored design solutions: space planning, custom furniture, project management, 3D visualization, and post-occupancy services. Our goal is
                                            to meet client needs and ensure seamless project execution with 
                                            precision and expertise.</p>                                    </div>
                                    <!-- Founder -->
                                    <div class="testimonial-founder">
                                        <div class="founder-img">
                                            <span><strong>Emmanuel Koech</strong> - Co-Founder</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Testimonial -->
                            <div class="single-testimonial text-center">
                                <!-- Testimonial Content -->
                                <div class="testimonial-caption ">
                                    <div class="testimonial-top-cap">
                                        <img src="{% static 'img/gallery/testi-logo.png' %}" alt="">
                                        <p>We provide tailored design solutions: space planning, custom furniture, project management, 3D visualization, and post-occupancy services. Our goal is
                                            to meet client needs and ensure seamless project execution with 
                                            precision and expertise.</p>                                    </div>
                                    <!-- Founder -->
                                    <div class="testimonial-founder">
                                        <div class="founder-img">
                                            <span><strong>Emmanuel Koech</strong> - Co-Founder</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial End -->
        
        <!-- Brand Area Start -->
        <div class="brand-area pt-120 pb-120">
            <div class="container">
                <div class="brand-active brand-border pt-50 pb-40">
                    <div class="single-brand">
                        <img src="{% static 'img/gallery/brand1.png' %}" alt="">
                    </div>
                    <div class="single-brand">
                        <img src="{% static 'img/gallery/brand2.png' %}" alt="">
                    </div>
                    <div class="single-brand">
                        <img src="{% static 'img/gallery/brand3.png' %}" alt="">
                    </div>
                    <div class="single-brand">
                        <img src="{% static 'img/gallery/brand4.png' %}" alt="">
                    </div>
                    <div class="single-brand">
                        <img src="{% static 'img/gallery/brand2.png' %}" alt="">
                    </div>
                    <div class="single-brand">
                        <img src="{% static 'img/gallery/brand5.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!-- Brand Area End -->
        
        <!-- Want To Work -->
        <section class="wantToWork-area w-padding2">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-xl-8 col-lg-8 col-md-8">
                        <div class="wantToWork-caption wantToWork-caption2">
                            <h2>Are you Searching For a First-Class Consultant?</h2>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-3">
                        <a href="{% url 'contact' %}" class="btn btn-black f-right">Contact Us</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Want To Work End -->
        
        
    </main>
    {% include "Mzuri/footer.html" %}
</body>
{% endblock %}
