{% load static %}
<footer>
    <!--? Footer Start-->
    <div class="footer-area footer-bg">
        <div class="container">
            <div class="footer-top footer-padding">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-8">
                        <div class="single-footer-caption mb-50">
                            <!-- logo -->
                            <div class="footer-logo">
                                <a href="index.html"><img src="{% static 'img/logo/logo2_footer.png' %}" alt=""></a>
                            </div>
                            <div class="footer-tittle">
                                <div class="footer-pera">
                                    <p class="info1">Grabbing the consumer’s attention isn’t enough you have to keep that attention for at least a.</p>
                                </div>
                            </div>
                            <div class="footer-number">
                                <h4><span>+254 727639047</h4>
                                <p>mzurispaces@yahoo.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-2 col-md-5 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Useful Links</h4>
                            </div>
                            <div class="footer-cap">
                                <span>Nairobi</span>
                                <p>Nairobi, Kenya</p>
                            </div>
                            <div class="footer-cap">
                                <span>Kenya</span>
                                <p>Nairobi Kenya</p>
                            </div>
                        </div>
                    </div>
                    <!-- Instagram -->
                    <div class="col-xl-4 col-lg-4 col-md-5 col-sm-7">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Instagram Feed</h4>
                            </div>
                            <div class="instagram-gellay">
                                <ul class="insta-feed">
                                    <li><a href="#"><img src="{% static 'img/gallery/instagram1.png' %}" alt=""></a></li>
                                    <li><a href="#"><img src="{% static 'img/gallery/instagram2.png' %}" alt=""></a></li>
                                    <li><a href="#"><img src="{% static 'img/gallery/instagram3.png' %}" alt=""></a></li>
                                    <li><a href="#"><img src="{% static 'img/gallery/instagram4.png' %}" alt=""></a></li>
                                    <li><a href="#"><img src="{% static 'img/gallery/instagram5.png' %}" alt=""></a></li>
                                    <li><a href="#"><img src="{% static 'img/gallery/instagram6.png' %}" alt=""></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="row d-flex justify-content-between align-items-center">
                    
                    <div class="col-xl-3 col-lg-4">
                        <!-- Footer Social -->
                        <div class="footer-social f-right">
                            <span>Follow Us</span>
                            <a href="https://x.com/MzuriSpaces?t=MjWdJEvUghR_KzwZG4sOKg&s=09" target="_blank"><i class="fab fa-twitter"></i>
                            </a>
                            <a href="https://web.facebook.com/profile.php?id=100083148791660&mibextid=LQQJ4d&_rdc=1&_rdr" target="_blank"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://www.tiktok.com/@mzuri_spaces?_t=8ob57MXFHJG&_r=1" target="_blank"><i class="fab fa-tiktok"></i>
                            </a>
                            <a href="https://www.instagram.com/mzuri_spaces?igsh=c25tejBzNTFqYnh2&utm_source=qr" target="_blank"><i class="fab fa-instagram"></i></a>
                            <a href="https://wa.me/+254 727 639047" target="_blank"><i class="fab fa-whatsapp"></i></a>
                        </div>
                        
                    </div>
                    <div class="col-xl-9 col-lg-8">
                        <div class="footer-copy-right text-center">
                            <p>
                                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved <br>Mzuri Spaces
                            </p>
                            <p><a href="https://darajacloudspace.com/" target="_blank">Mzuri Spaces</a></p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End-->
</footer>
