<header>
    <!-- Header Start -->
    <div class="header-area header-transparent">
        <div class="main-header header-sticky">
            <div class="container-fluid">
                <div class="menu-wrapper d-flex align-items-center justify-content-between">
                    <!-- Logo -->
                    <div class="logo">
                        <div style="text-align: center;">
                            <a href="index.html">
                                <img src="static/img/logo/loder.png" alt="" style="width: 150px; height: auto;">
                            </a>
                        </div>
                        
                    </div>
                    <!-- Main-menu -->
                    <div class="main-menu f-right d-none d-lg-block">
                        <nav>
                            <ul id="navigation">
                                <li><a href="{% url 'home' %}">Home</a></li>
                                <li><a href="{% url 'services' %}">Services</a></li>
                                <li><a href="{% url 'about' %}">About</a></li>
                                <li><a href="{% url 'work' %}">Portfolio</a></li>
                    
                                <li><a href="{% url 'contact' %}">Contact</a></li>
                            </ul>
                        </nav>
                    </div>          
                    <!-- Header-btn -->
                    <div class="header-btns d-none d-lg-block f-right">
                        <a href="{% url 'contact' %}" class="btn header-btn">Contact Us</a>
                    </div>
                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>